/*
	Name: Emmanuel Kaye
	File: styles.css
	Date: 16 June 2025
	THis a the css code for Jane Doe, a fictional character.
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: hotpink; /* changed the color to hotpink */ 
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 10px dotted purple; /* changed the border to dotted purple */ 
}

h2 {
  font-size: 1.5em;
  font-style: italic; /* changed the font style to italic */
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}
.contact-information {
  background-color: #eeeeee; /* changed the background color to light gray */
  border: solid purple 5px; /* changed the border to solid purple */
  padding: 10px;
}